.carrousel_card {
    position: relative;
    overflow: hidden;
    margin: 0px;
    width: 335px;
    height: 255px;
    background-color: rgb(53, 20, 20);
    border-radius: 10px;
}

.carrousel_card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}