.text-img {
    margin: 0px;
    font-family: 'Montserrat';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 21px;
    font-weight: bold;
    z-index: 1;
}

@media (min-width: 1440px) {
    .text-img {
        font-size: 48px;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
}