.text-footer{
    text-align: center;
    color: white;
    margin: 0px;
}

.text-footer p{
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    color: white;
    text-align: center;
}

p{
    margin: 0px;
}

@media (min-width: 1440px) {
    .text-footer p{
        font-size: 24px;
    }
}