.carrousel {
    margin: 0px 20px;
    width: 335px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrousel img{
    object-fit: cover;
}

.arrow-left{
    position: absolute;
    cursor: pointer;
    fill: rgb(255, 255, 255);
}

.arrow-left svg{
    width: 48px;
    height: 48px;
}

.arrow-right{
    position: absolute;
    cursor: pointer;
    fill: rgb(255, 255, 255);
    left: 307px;
}

.arrow-right svg{
    width: 48px;
    height: 48px;
}
